<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find cgcb_control)/config/cgcb_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/cgcb" args="joint_state_controller
					  crane_x_effort_controller
					  crane_z_effort_controller
					  crane_rot_effort_controller"/>
					  <!-- hip_effort_controller
					  lankle_effort_controller
					  rankle_effort_controller"/> -->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/cgcb/joint_states" />
  </node>

</launch>
